[smtp]
url=smtps://user@example.com:CREDENTIALS@smtp-relay.example.com:465

[email]
from="Sender <sender@example.com>"
to="Target <target@example.com>"
subject="Email via smtp"

[remote]
ip=""
port=22
socket_addr=""

